/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  #index-banner .header{
    font-size: 44px;
  }

}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

nav, body, #nav-mobile, .social-icons{
  background-image: url("../img/background01.png");
  background-repeat: repeat;
}
.social-icons{
  padding: 4px;
  border-radius: 40px;
}

#index-banner{
  background-image: url("../img/spiralvast.jpg");
}

/* recoloring the tabs*/
.tabs .tab a{
    color:#00ACC1;
}
.tabs .tab a:hover,.tabs .tab a.active {
  background-color:transparent;
  color:#008B9B;
}
.tabs .tab.disabled a,.tabs .tab.disabled a:hover {
  color:rgba(102,147,153,0.7);
}
.tabs .indicator {
  background-color:#009BAD;
}
 .m4 .card-content p, .page-footer .grey-text {
  text-align: justify;
 }
